@import "../../../../../styles/vars.scss";
@import "../../../../css/FontsContent.css";

$size-item: 260px;
$size-button: 40px;
$size-image-button: 30px;

.itemOrder {
  display: flex;
  height: $size-item;
}

.image {
  height: $size-item;
  margin: auto auto;
}

.description {
  margin: auto auto;
  :first-child {
    font-weight: bold;
    font-size: 24px;
    margin-top: 0px;
  }
  li {
    margin-top: 10px;
    font-family: "Circe-Light";
  }
}

.counter {
  display: flex;
  margin: auto auto;
}

.count {
  display: flex;
  position: relative;
  font-weight: bold;
  font-size: 30px;
  margin: auto 25px;
  height: $size-button;
  width: $size-button;
  span {
    position: absolute;
    text-align: center;
    margin-top: 5px;
    height: $size-button;
    width: $size-button;
    left: 0;
    right: 0;
  }
}

.button {
  height: $size-button;
  width: $size-button;
  background: white;
  border: 1px solid gray;
  border-radius: 50%;
  img {
    height: $size-image-button;
    width: $size-image-button;
  }
}

.price {
  font-weight: bold;
  font-size: 30px;
  margin: auto auto;
}
