@import "../../../../../../styles/vars.scss";
.option {
  cursor: pointer;
  display: flex;
  margin-bottom: 12px;
  border-bottom: 1px solid #000;
  padding: 6px;
  &:hover {
    color: $color-hover;
    border-bottom: 1px solid gray;
  }
}

.image {
  height: 1em;
  width: 1em;
  margin-right: 8px;
}

.text {
  white-space: nowrap;
}
