@import "../../../styles/vars.scss";
.menu {
  font-size: 16px;
  ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
    li {
      cursor: pointer;
      p {
        &:hover {
          color: $color-hover;
        }
      }
    }
  }
}
