@import "../../../../styles/vars.scss";

.searchBar {
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  padding: 10px;
  background: $color-gray;
  border-radius: $border-radius-main;
}
.inputText {
  width: 375px;
  margin-left: 15px;
  background: transparent;
}
.imageSearch {
  width: $icon-width-height;
  height: $icon-width-height;
}
