@import "../../styles/vars.scss";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 75px;
  background-color: $color-main;
}
.name {
  text-transform: uppercase;
}
