@import "../../styles/vars.scss";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 75px;
  background-color: $color-white;
  width: 1000px;
}

.image {
  width: $icon-width-height;
  height: $icon-width-height;
  cursor: pointer;
  &:hover {
    filter: brightness(135%);
  }
}
