@import "../../styles/vars.scss";
.menu {
  ul {
    display: flex;
    text-align: center;
    width: max-content;
    li {
      margin-right: 15px;
      margin-top: auto;
      margin-bottom: auto;
      img {
        width: $icon-width-height;
        height: $icon-width-height;
        cursor: pointer;
      }
    }
  }
}
/* .action {
  margin: auto 0;
  ul {
    display: flex;
    //margin-right: $width-input-search;
    text-align: center;
    width: 115px;
    li {
      margin-right: 15px;
      cursor: pointer;
      img {
        width: $icon-width-height;
        height: $icon-width-height;
      }
    }
  }
} */
