@import "../../styles/vars.scss";
.menu {
  ul {
    display: flex;
    width: max-content;
    li {
      margin-right: 15px;
      margin-top: auto;
      margin-bottom: auto;
      /*       img {
        width: $icon-width-height;
        height: $icon-width-height;
        cursor: pointer;
        &:hover {
          filter: brightness(135%);
        }
      } */
    }
  }
}
