@import "../../css/vars.css";
.menu {
  text-align: center;
  li {
    cursor: pointer;
    display: inline-block;
    margin-left: $margin-left-menu;
    img {
      width: 30px;
      height: 30px;
    }
  }
  li:first-child {
    margin-left: 0px;
  }
}
