@import "../../styles/vars.scss";
.menu {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 125px;
  li {
    cursor: pointer;
    img {
      width: $icon-width-height;
      height: $icon-width-height;
    }
  }
}
