@import "../../styles/vars.scss";
.formSearchOn {
  display: flex;
  padding: 5px;
  background: white;
  border-radius: $border-radius-main;
}
.formSearchOff {
  display: flex;
  padding: 5px;
  background: transparent;
  border-radius: $border-radius-main;
}
.inputText {
  width: 475px;
  margin-left: 15px;
  background: transparent;
}
