/* @font-face {
  font-family: "NWTBodoni-Regular";
  src: url("../fonts/NWT_Bodoni_Regular/NWTBodoni-Regular.eot");
  src: local("☺"),
    url("../fonts/NWT_Bodoni_Regular/NWTBodoni-Regular.woff") format("woff"),
    url("../fonts/NWT_Bodoni_Regular/NWTBodoni-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "NWTBodoni-Bold";
  src: url("../fonts/NWT_Bodoni_Bold/NWTBodoni-Bold.eot");
  src: local("☺"),
    url("../fonts/NWT_Bodoni_Bold/NWTBodoni-Bold.woff") format("woff"),
    url("../fonts/NWT_Bodoni_Bold/NWTBodoni-Bold.ttf") format("truetype");
} */
@font-face {
  font-family: "Circe-Regular";
  src: url("../fonts/Circe_Regular/Circe-Regular.eot");
  src: local("☺"),
    url("../fonts/Circe_Regular/Circe-Regular.woff") format("woff"),
    url("../fonts/Circe_Regular/Circe-Regular.ttf") format("truetype");
}
/* @font-face {
  font-family: "Circe-Bold";
  src: url("../fonts/Circe_Bold/Circe_Bold.eot");
  src: local("☺"), url("../fonts/Circe_Bold/Circe_Bold.woff") format("woff"),
    url("../fonts/Circe_Bold/Circe_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Circe-Light";
  src: url("../fonts/Circe_Light/Circe_Light.eot");
  src: local("☺"), url("../fonts/Circe_Light/Circe_Light.woff") format("woff"),
    url("../fonts/Circe_Light/Circe_Light.ttf") format("truetype");
} */
