@font-face {
  font-family: "Circe-Regular";
  src: url("../fonts/Circe_Regular/Circe-Regular.eot");
  src: local("☺"),
    url("../fonts/Circe_Regular/Circe-Regular.woff") format("woff"),
    url("../fonts/Circe_Regular/Circe-Regular.ttf") format("truetype");
}
