@font-face {
  font-family: "NWTBodoni-Regular";
  src: url("../fonts/NWT_Bodoni_Regular/NWTBodoni-Regular.eot");
  src: local("☺"),
    url("../fonts/NWT_Bodoni_Regular/NWTBodoni-Regular.woff") format("woff"),
    url("../fonts/NWT_Bodoni_Regular/NWTBodoni-Regular.ttf") format("truetype");
}
