@import "../../styles/vars.scss";
.menu {
  margin: auto 0;
  ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    li {
      cursor: pointer;
      margin-top: 10px;
      img {
        width: $icon-width-height;
        height: $icon-width-height;
      }
    }
  }
}
