@import "../../../../../../../styles/vars.scss";
.comboBox {
  position: relative;
  font-size: 18px;
  margin-right: 12px;
  margin-bottom: $margin-catalog-bottom;
}
.wrapper {
  display: flex;
  cursor: pointer;
  img {
    height: 1em;
    margin-left: 5px;
  }
  &:hover {
    color: $color-hover;
  }
}
.closeModal {
  visibility: hidden;
  display: none;
}
.modal {
  display: block;
  visibility: visible;
  width: max-content;
  height: max-content;
  padding: 12px;
  background: $color-gray;
  border-radius: $border-radius-main;
  opacity: 0.95;
  position: absolute;
  left: 0;
  top: 2em;
  margin: auto;
  z-index: 10;
}
