$color-main: #f5f5f8;
$color-border: #f5f5f5;
$color-border-app: #cacaca;
$color-button: #dbedef;
$border-radius-main: 6px;
$margin-left-menu: 25px;
$icon-width-height: 25px;
$margin-content-bottom: 60px;
$font-size-titles: 28px;
$font-family-titles: "NWTBodoni-Regular";
