.filters {
  display: flex;
  justify-content: space-between;
}
.checkAndRange {
  display: flex;
  form > :first-child {
    margin-right: 15px;
  }
}
.sortingByAndSearch {
  display: flex;
  form > :last-child {
    margin-right: 15px;
  }
}
