@import "../../../../../styles/vars.scss";

.searchBar {
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  height: $height-filters-button;
  padding: 5px 10px;
  background: $color-gray;
  border-radius: $border-radius-main;
}
.inputText {
  margin: auto 0;
  width: 200px;
  background: transparent;
}
.imageSearch {
  width: 2em;
  height: 2em;
}
