@import "../../../../../../../styles/vars.scss";
.option {
  display: flex;
  margin-bottom: 12px;
  border-bottom: 1px solid #000;
  &:hover {
    color: $color-hover;
    border-bottom: 1px solid gray;
  }
  label {
    display: flex;
    margin-bottom: auto;
    margin-top: auto;
    padding: 6px;
    &:before {
      content: " ";
      color: #000;
      display: inline-block;
      margin-right: 15px;
      width: 1em;
      height: 1em;
      background: #fff;
      border: 1px solid #000; //#e3e3e3;
      border-radius: 4px;
    }
  }
}

input[type="checkbox"] {
  display: none;
  /* checked */
  &:checked + label:before {
    background: no-repeat url(../images/jackdaw.png);
    background-size: contain;
  }
  /* disabled */
  &:disabled + label:before {
    background: none;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
