@import "../../../../styles/vars.scss";

$size-item: 120px;
$size-button: 40px;
$size-image-button: 30px;

.product {
  display: flex;
  cursor: pointer;
  padding: 5px;
  height: $size-item;
}

.image {
  height: $size-item;
  margin: auto auto;
}

.name {
  margin: auto auto;
  font-size: 24px;
}

.price {
  margin: auto auto;
  font-weight: bold;
  font-size: 24px;
}
