@import "../../../../styles/vars.scss";
$margin-items: 35px;
.ideaList {
  margin-top: $margin-content-bottom;
}
.list {
  display: flex;
  justify-content: space-between;
}
.listWrapper {
  display: flex;
  :nth-child(2) {
    margin-left: 8px;
    margin-right: 8px;
  }
}
.title {
  margin-bottom: $margin-items;
  font-size: $font-size-titles;
  font-family: $font-family-titles;
}
.button {
  color: black;
  cursor: pointer;
  padding: 15px;
  margin-top: $margin-items * 2;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  background: $color-white;
  border-radius: $border-radius-main;
  width: max-content;
}
.arrowBlock {
  user-select: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid #000;
  border-radius: 50%;
}
.arrow {
  height: 100%;
  width: 100%;
}
